/* Css para a tela de login */

form {
    min-width: 400px;
    background-color: white;
}

button {
    color: white !important;
}

a {
    display: block;
    text-align: center;
    margin-top: 30px;
}