.content-text {
    font-size: 200;
    white-space: pre-wrap; /*Pula linha quando o pular linha no input text */
}

.content-div {
    width: 400px;
    background-color: white;
    border-radius: 20px;
}